@using ArtChatean.Models.Forms;
@using ArtChatean.Models;
@{
    Layout = "_AdminLayout";
}
@model ForgotPasswordViewModel
@{
    var picture = ViewBag.RandomPicture as Picture;
}


<div class="login-form">
    <div class="login-text">
        <h1>Check Your Email</h1>
        <p>If the email address exists in our system, you will receive an email with a password reset link.</p>
        <a href="/Account/Login" class="register-button">Return to Login</a>
    </div>
</div>

<div class="login-image">
    @if (picture.Image != null && picture.Image.Length > 0)
    {
        <img src="data:image/jpeg;base64,@Convert.ToBase64String(picture.Image)" alt="" />
    }
    else
    {
        <img src="#" alt="Profile Image" />
    }
</div>

@section HeadEnd {
    <style>
        .login-form {
            flex: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0 auto;
            height: 100%;
        }            

        .login-text{
            width: 70%;
            flex-direction: column;
            display: flex;
            gap: 10px;
        }

            .login-text h1 {
            width: 100%;
            margin: 0 0 10px;
            font-size: 28px;
        }

            .login-text p {
            width: 100%;
            margin: 0 0 20px;
        }
        .register-button {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-bottom: 20px;
            background-color: white;
            color: black;
            font-size: 16px;
            box-sizing: border-box;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            border: 2px solid white;
        }

            .register-button:hover {
                background-color: black;
                color: white;
                border: 2px solid white;
            }
        
        .login-image {
            flex: 3;
            background: #ddd;
            height: 90%;
            margin-right: 40px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    </style>
}	